main.py
private-notebook.ipynb
*.DS_Store
*.pyc
__pyache__/*
/venv/
/.idea/
/other/
/__pycache__/
*.egg-info
/.ipynb_checkpoints
.pypirc
__pycache__/
tests_outputs/
.vscode/
dist/
.mypy_cache/
gpac-*
.virtual_documents/notebook.ipynb
